<ion-header>
  <ion-toolbar>
    <ion-title>DevSkill Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="loginForm">
    <ion-grid class="set-grid">
      <ion-row class="ion-text-center">
        <ion-col>
          <app-titolo-devskill testologo="Accedi."></app-titolo-devskill>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col size="4">

        </ion-col>  
        
        <ion-col size="12" size-sm>
          <ion-item>
            <ion-label for="uname" position="floating"> Username</ion-label>
            <ion-input formControlName="username"></ion-input>
            <ion-icon slot="end" name="person-outline"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label for="password" position="floating">Password</ion-label>
            <ion-input formControlName="password"></ion-input>
            <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
          </ion-item>
          <app-bottone-custom testo="Login"></app-bottone-custom>
        </ion-col>
        <ion-col size="4">
          
        </ion-col> 
      </ion-row>
    </ion-grid>


  </form>
</ion-content>